/*sign.css file by yogendra*/


@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');  
#container{
    height: 528px;
    width: 1100px;
    margin: auto;
    margin-top: 60px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
}
.box{
    height: 89%;
    width: 82%;
    margin: auto;
    box-sizing: border-box;
}
#img{
    height: 100%;
    width: 100%;
}
h1{
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    color: #151b39;
    margin: 0px 0px 8px;
}
p{
    font-family: 'Lato', sans-serif;
    color: #151b3999;
    font-size: 12px;
    margin: 0px 0px 35px;
}
label{
    color: #24aeb1;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
}
#mobile{
    height: 32px;
    width: 75%;
    border: 0px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color:black
        border-bottom: 2px solid rgba(21,27,57,.04);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(21, 27, 57, 0.04);
}
#mob{
    display: flex;
    align-items: flex-end;
    align-items: center;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    padding: 0px 5px 0px 0px;
    gap: 10px;
    color: rgb(32, 31, 31);
}
#btn{

    background: #24aeb1;
    font-family: LatoBold;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    letter-spacing: 1px;
    padding: 15px 6px;
    width: 80%;
    height: 100%;
    margin: 0px;
    border: 0;
    cursor: pointer;
    margin-left: -1px;
}
#red{
    color: rgb(241, 24, 24);
    font-style: italic;
}
#gf{
    height: 40px;
    width: 80%;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
}
.a{

    height: 95%;
    width: 90%;
    margin: auto;
}
#main{
    height: 100%;
    width: 100%;
}
#image{
    height: 20px;
    width: 20p;
}
.a>div{
    padding: 10px;
    margin-left: 20px;
}
#but{
    height: 100%;
    width: 100%;
    background-color: white;
    color: #b4bbc7;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    border: 0.5px solid rgb(204, 195, 195);
}
#image{
    height: 17px;
    width: 17px;
    margin-right: 40px;
}
#terms{
    margin: auto;
    width: 20%;
    font-size: 12px;
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
}
#aa{
    color: #b4bbc7;
}
#bb{
    color: #f04290;
}
#cc{
    color: #b4bbc7;

}
#dd{
    color: #f04290;

}


